@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

// colors
$main-color: #95e1d3;
$hover-color: #fce38a;
$header-color: #fff;
$gradient-color: #f38181;
$main-font-color: #333333;
$section-font-color: #999999;
$bottom-color: #e7e7e7;

//fonts
$roboto: 'Roboto', sans-serif;
$montserat: 'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', sans-serif;