.features {
  padding-top: 125px;
  padding-bottom: 90px;

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 383px;
    flex: 0 0 383px;
    margin-bottom: 95px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 83px;
      background-repeat: no-repeat;
      background-position: top;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__item-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  &__item-title {
    display: block;
    text-transform: uppercase;
    text-align: left;
    @include fonts ($montserat, 14px, 400);
    margin: 0;
    margin-bottom: 10px;
  }
  
  &__item-text {
    display: block;
    @include fonts ($roboto, 15px, 400);
    color: $section-font-color;
    margin: 0;
    text-align: left;
  }
  
  
  &__icon--alarm::before {
    background-image: url('../../images/alarm.svg');
  }
  
  &__icon--line-graph::before {
    background-image: url('../../images/line-graph.svg');
  }
  
  &__icon--pc::before {
    background-image: url('../../images/pc-ok.svg');
  }
  
  &__icon--book::before {
    background-image: url('../../images/book.svg');
  }
  
  &__icon--home::before {
    background-image: url('../../images/home.svg');
  }
  
  &__icon--digital::before {
    background-image: url('../../images/image.svg');
  }
}