.page-header {
  height: 1000px;
  margin: 0 auto;
  background: url('../../images/banner.png') center no-repeat;
  
  &__subtitle {
    @include fonts ($kaushan, 72px, 400);
    color: $header-color;
    margin: 0;
    margin-bottom: 30px;
  }
  
  &__title {
    width: 980px;
    line-height: 0.933;
    @include fonts ($montserat, 150px, 700);
    text-transform: uppercase;
    color: $header-color;
    margin: 0 auto;
    margin-bottom: 125px;
  }
  
  &__link {
    display: block;
    width: 164px;
    margin: 0 auto;
    @include fonts ($montserat, 14px, 700);
    color: $header-color;
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
    padding: 12px 0;
    border: solid 3px $header-color;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .page-header {
    background: url('../img/banner@2x.png') center no-repeat;
  }
}