.section__title {
  @include fonts ($montserat, 30px, 700);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 45px;
}

.section__title::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: $gradient-color;
  margin: 20px auto 0;
}

.section__subtitle {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 24px;
  @include fonts ($kaushan, 24px, 400);
  margin: 0;
  margin-bottom: 15px;
}

.section__description {
  width: 967px;
  margin: 0 auto;
  margin-bottom: 90px;
  @include fonts ($roboto, 15px, 400);
  color: $section-font-color;
}