.site-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 490px;
  list-style: none;

  &__link {
    display: block;
    color: $header-color;
    text-transform: uppercase;
    text-decoration: none;
    @include fonts ($montserat, 14px, 400);
    @extend %transition;
    
    &::after {
      display: block;
      content: "";
      height: 6px;
      width: 0;
      border-bottom: 3px solid $hover-color;
      @extend %transition;
    }

    &:hover,
    &:focus {
      color: $hover-color;
    }
  
    &:hover::after {
      width: 100%;
    }
  }
}

