@media (min-width: 768px) {

    .page-header {
        height: 700px;
    }

    .partners {
        width: 492px;
    }

    .header-title {
        font-size: 3.25rem;
    }

    .header-subtitle {
        font-size: 1.5rem
    }

    .authorization-wrp {
        margin-bottom: 145px;
    }
}

@media (min-width: 960px) {
    .partners {
        width: 942px;
    }

}