* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    width: 100%;
    height: 540px;
    background-image: url('../img/bg-full.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

