@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
    color: #626262;
    font-weight: normal;
    text-align: center;
    line-height: 1.86;
}

.container {
    width: 900px;
    margin: 0 auto;
}

header {
    padding-bottom: 100px;
    padding-top: 70px;
}

.category_list {
    font-size: 0;
}

.category_item {
    display: inline-block;
    margin-right: 80px;
}

.category_item:last-child {
    margin-right: 0;    
}
.category_title {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.category_title:hover {
    color: #25b4f5;
}

.category, .article_title, .description {
    text-align: left;
}

.card_cover {
    margin-bottom: 25px;
}

.category {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-bottom: 27px;
    color: #b4ad9e;
    line-height: 1.2;
}

.description {
    font-size: 14px;
}

.article_title {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 1.2;
}

.article_list {
    display: inline-block;
    font-size: 0;
    padding-bottom: 70px;
}

.article_content {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
}

.article_content:nth-child(2n) {
    margin-right: 0;
}

.article_content:nth-last-of-type(-n+2) {
    margin-bottom: 55px;
}

#btn_more {
    width: 164px;
    height: 60px;
    background-color: #fff;
    font-size: 20px;
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
}

#btn_more:hover {
    background-color: #c2c0c0;
}